# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Framework checkpoints & temporary checkpoints
.ipynb_checkpoints/

# Environments & IDEs
venv/
env/
.venv/
.idea/
.vscode/

# Temporary / Scratch files
scratch/
scratch_*.png
test_*.pdf
test_*.png
